@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
    height: 100%;
}

.theme {
    transition: 1s all ease;
}

.dark {
    background-color: #111111;
    color: #bbbbbb;
}

.light {
    background-color: #ffffff;
    color: #111111;
}